extends layout.pug

block content

  article.portfolio-intro
    h1 Potential Employers,
    p Welcome to my portfolio! Here are some of the projects I have worked on. Click on any of the projects to learn more. You can also view a live demo or checkout the GitHub repository!
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        project.cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, height = '250px', width = '250px', alt=`Screenshot of ${project.project_name} Project`)
            .centered_text
              h5 #{project.project_name}
              p Skills: #{project.technologies}


